<div class="mt-4">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Nhập từ khoá:</label>
            <input type="text" class="form-control" name="q" id="exampleInputEmail1" placeholder="Enter search">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>